*.out

/parallel-distributed-computing/parallel-distributed-computing/maxsum/config.sh

*.DS_Store
*.xcuserstate

/parallel-distributed-computing/.idea

/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.acn
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.acr
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.alg
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.aux
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.bbl
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.bcf
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.blg
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.glg
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.glo
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.gls
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.ist
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.log
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.run.xml
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.synctex.gz
/parallel-distributed-computing/parallel-distributed-computing/docs/parallel-distributed-computing-docs/*.toc
