*.out

/parallel-distributed-computing/parallel-distributed-computing/maxsum/config.sh

*.DS_Store
*.xcuserstate

.idea/
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.acn
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.acr
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.alg
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.aux
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.bbl
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.bcf
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.blg
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.glg
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.glo
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.gls
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.ist
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.log
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.run.xml
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.synctex.gz
parallel-distributed-computing/docs/parallel-distributed-computing-docs/parallel-distributed-computing-docs.toc
parallel-distributed-computing/docs/parallel-distributed-computing-docs/svg-inkscape/
